<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <script type="text/javascript">
            function WarehouseValueChanged()
            {
                var selectedWarehouseId = WarehouseWidgetVar.getSelectedValue();
                $('#mainForm\\:TxtWarehouseId').val(selectedWarehouseId);
                reinitDocumentPositionsCommand();
                changeStocksCommand();
                removeSelectedStockCommand();
            }
        </script>

        <h:form id ="mainForm">
            <p:remoteCommand name="reinitDocumentPositionsCommand" actionListener="#{DocumentPositionBean.ReinitDocumentPositions()}" update=":mainForm:WZDocumentDataTable"/> 
            <p:remoteCommand name="changeStocksCommand" action="#{WZDocumentBean.getStockForWarehouseFromDB}" process="@this TxtWarehouseId" update=":stockListForm:stockDataTable"/>
            <p:remoteCommand name="removeSelectedStockCommand" actionListener="#{WZDocumentBean.removeSelectedStock()}" process="@this TxtWarehouseId" update=":stockListForm:stockDataTable"/>

            <p:commandButton value="Dodaj Towar" onclick="PF('addProductDialog').show();"/>

            <br/><br/>

            <p:panel header="Nowy dokument wydania towaru (WZ)">

                <p:messages id="msgs" closable="true" autoUpdate="true"/>

                <h:panelGrid columns="2" id="addWZDocumentGrid">  

                    <h:outputLabel value="Data wydania: *" for="sellDate" styleClass="Label110px" ></h:outputLabel>
                    <p:calendar id="sellDate" value="#{WZDocumentBean.wzDocument.dateOfWarehouseRelease}" pattern="yyyy-MM-dd" size="38"
                                required="true" requiredMessage="Data wydania jest polem wymaganym" >
                    </p:calendar>

                    <h:outputLabel value="Kontrahent : *" for="contractor" ></h:outputLabel>
                    <p:selectOneMenu id="contractor" value="#{WZDocumentBean.wzDocument.contractor}" 
                                     effect="fold" styleClass="MaxSize" converter="ContractorConverter" required="true" requiredMessage="Kontrahent jest polem wymaganym">   
                        <f:selectItems value="#{ContractorBean.contractorBuyerFromDB}" var="contractor" itemLabel="#{contractor.name}" itemValue="#{contractor}" />  
                    </p:selectOneMenu> 


                    <h:outputLabel value="Magazyn : *" for="warehouse" ></h:outputLabel>
                    <p:selectOneMenu id="warehouse" value="#{WZDocumentBean.wzDocument.warehouse}" 
                                     effect="fold" styleClass="MaxSize" converter="WarehouseConverter"
                                     required="true" requiredMessage="Magazyn jest polem wymaganym"
                                     widgetVar="WarehouseWidgetVar" onchange="WarehouseValueChanged();" >   
                        <f:selectItems value="#{WarehouseBean.warehouseListFromDB}" var="warehouse"
                                       itemLabel="#{warehouse.name}" itemValue="#{warehouse}" />  
                    </p:selectOneMenu> 

                    <h:inputHidden id="TxtWarehouseId" value="#{WZDocumentBean.txtWarehouseId}" />

                </h:panelGrid>
            </p:panel>  

            <br/>

            <p:dataTable id="WZDocumentDataTable" var="position" value="#{DocumentPositionBean.documentPositions}" rowKey="#{position.id}"
                         liveScroll="true" sortMode="multiple"  widgetVar="WZDocumentDataTable" emptyMessage="Brak towarów" 
                         editable="true" editMode="cell" scrollRows="20" resizableColumns="true" > 
                <p:column headerText="Symbol" style="width: 200px;">
                    <h:outputText value="#{position.product.symbol}" />
                </p:column>
                <p:column headerText="Nazwa">
                    <h:outputText value="#{position.product.name}" />
                </p:column>
                <p:column headerText="Jdn." style="width: 30px;">
                    <h:outputText value="#{position.product.unit.name}" />
                </p:column>
                <p:column headerText="Cena" style="width: 70px;">
                    <p:cellEditor>  
                        <f:facet name="output"><h:outputText value="#{position.price}" /></f:facet>  
                        <f:facet name="input"><p:inputText value="#{position.price}" style="width:96%"
                       converterMessage="Cena musi być liczbą zmiennoprzecinkową"/></f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="VAT" style="width: 30px;">
                    <h:outputText value="#{position.tax}%" />
                </p:column>
                <p:column headerText="Ilość" style="width: 70px;">
                    <p:cellEditor>  
                        <f:facet name="output"><h:outputText value="#{position.count}" /></f:facet>  
                        <f:facet name="input"><p:inputText value="#{position.count}" style="width:96%"
                      converterMessage="Ilość musi być liczbą większą od zera" /></f:facet>
                    </p:cellEditor>
                </p:column>
            </p:dataTable>

            <br/>

            <p:menubar id="menuDown">
                <p:menuitem value="Zapisz" update=":mainForm:msgs" action="#{WZDocumentBean.AddWZDocument()}" >
                    <f:setPropertyActionListener target ="#{WZDocumentBean.wzDocument.documentPositions}" value ="#{DocumentPositionBean.documentPositions}" />   
                </p:menuitem>
                <p:menuitem value="Zrezygnuj" outcome="WZDocumentList"/>
            </p:menubar>
        </h:form>

        <p:dialog widgetVar="addProductDialog" resizable="false" closable = "false" width="700" height="400" >  
            <h:form>
                <p:commandButton value = "Dodaj" update=":mainForm:WZDocumentDataTable" onsuccess="addProductDialog.hide()" actionListener="#{DocumentPositionBean.ReinitDocumentPosition()}">
                    <f:setPropertyActionListener target ="#{DocumentPositionBean.documentPosition.product}" value ="#{WZDocumentBean.productFromSelectedStock}" /> 
                    <f:setPropertyActionListener target ="#{DocumentPositionBean.documentPosition.tax}" value ="#{WZDocumentBean.productFromSelectedStock.tax.tax}" />  
                    <p:collector unique="true" value="#{DocumentPositionBean.documentPosition}" addTo="#{DocumentPositionBean.documentPositions}" />
                </p:commandButton>              

                <p:commandButton value = "Zakończ" onclick="addProductDialog.hide();" icon="ui-icon-closethick" type="reset" />
            </h:form>

            <h:form id="stockListForm">
                <p:dataTable id="stockDataTable" var="stock" sortMode="multiple" value="#{WZDocumentBean.stockList}"
                             rowKey="#{stock.id}" rows = "10" paginator="true" filteredValue="#{WZDocumentBean.filteredStock}"
                             emptyMessage="Brak zapasów spełniających podane kryterium." widgetVar="stockTable"
                             selectionMode="single" selection="#{WZDocumentBean.selectedStock}" >
                    <f:facet name = "header">
                        <p:toolbar style="border:none">
                            <p:toolbarGroup align="center">                                
                                <h:outputText value="Zapasy" styleClass="size20px" /> 
                            </p:toolbarGroup>
                            <p:toolbarGroup align ="right">
                                <p:outputPanel>  
                                    <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                    <p:inputText id="globalFilter" onkeyup="stockTable.filter();" style="width:150px;"/>  
                                </p:outputPanel>  
                            </p:toolbarGroup>
                        </p:toolbar> 
                    </f:facet>
                    <p:column sortBy="#{stock.product.symbol}" headerText="Symbol" filterBy="#{stock.product.symbol}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{stock.product.symbol}" styleClass="columnFontSize"/> 
                    </p:column> 
                    <p:column sortBy="#{stock.product.name}" headerText="Nazwa" filterBy="#{stock.product.name}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{stock.product.name}" styleClass="columnFontSize"/> 
                    </p:column>  
                    <p:column sortBy="#{stock.quantity}" headerText="Ilość" filterBy="#{stock.quantity}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{stock.quantity}" styleClass="columnFontSize"/> 
                    </p:column>  
                    <p:column sortBy="#{stock.warehouse.name}" headerText="Magazyn" filterBy="#{stock.warehouse.name}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{stock.warehouse.name}" styleClass="columnFontSize"/> 
                    </p:column>  
                    <p:ajax event="rowSelect"/>
                </p:dataTable>
            </h:form>
        </p:dialog>
    </ui:define> 
</ui:composition>