<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="wzDocumentListForm">

            <p:commandButton value="Dodaj wydanie magazynowe" action="#{WZDocumentBean.AddWZDocumentNavigation}" actionListener="#{DocumentPositionBean.ReinitDocumentPositions()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajDokumentWZ())}" />
            <p:commandButton value="Przeglądaj wydanie magazynowe" action="#{WZDocumentBean.viewWZDocumentNavigation}" rendered = "#{RoleBean.IsInRole(RoleNames.getPrzegladajDokumentWZ())}" ajax="false"/>

            <br/>
            <br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="wzDocumentDataTable" var="wzDocument" sortMode="multiple" value="#{WZDocumentBean.wzDocumentList}"
                         rowKey="#{wzDocument.id}" rows = "10" paginator="true" filteredValue="#{WZDocumentBean.filteredWZDocument}"
                         emptyMessage="Brak rekordów spełniających podane kryterium." widgetVar="wzDocumentTable"
                         selectionMode="single" selection="#{WZDocumentBean.selectedWZDocument}">
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Wydania magazynowe" styleClass="size20px" /> 
                        </p:toolbarGroup>

                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="wzDocumentTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{wzDocument.documentNumber}" headerText="Numer" filterBy="#{wzDocument.documentNumber}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{wzDocument.documentNumber}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{wzDocument.contractor.name}" headerText="Kontrahent" filterBy="#{wzDocument.contractor.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{wzDocument.contractor.name}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{wzDocument.user.lastName}" headerText="Wystawił" filterBy="#{wzDocument.user.lastName}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{wzDocument.user.firstName} #{wzDocument.user.lastName}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{wzDocument.dateOfDocument.toLocaleString()}" headerText="Data" filterBy="#{wzDocument.dateOfDocument.toLocaleString()}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{wzDocument.dateOfDocument.toLocaleString()}" styleClass="columnFontSize"/> 
                </p:column>

                <p:column sortBy="#{wzDocument.dateOfWarehouseRelease.toLocaleString()}" headerText="Data wydania" filterBy="#{wzDocument.dateOfWarehouseRelease.toLocaleString()}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{wzDocument.dateOfWarehouseRelease}" styleClass="columnFontSize"> 
                        <f:convertDateTime type="date"  locale="pl_PL" timeZone = "EU" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{wzDocument.warehouse.name}" headerText="Magazyn" filterBy="#{wzDocument.warehouse.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{wzDocument.warehouse.name}" styleClass="columnFontSize"/> 
                </p:column>

                <p:ajax event="rowSelect"/>

            </p:dataTable>

        </h:form>

    </ui:define> 
</ui:composition>