<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="UnitForm" styleClass="GroupPanel350px">
            <p:panel header="Nowa jednostka" id="AddUnitPanel">

                <p:messages id="msgs" closable="true" autoUpdate="true"/>

                <h:panelGrid columns="2" id="addUnitGrid">  

                    <h:outputLabel value="Nazwa : *" for="name" styleClass="Label"></h:outputLabel>
                    <p:inputText id="tax" value="#{UnitBean.unit.name}" styleClass="MaxSize" required="true" 
                                 requiredMessage="Nazwa jest polem wymaganym" validatorMessage="Nazwa musi zawierać conajmniej 3 znaki"
                                 >
                        <f:validateLength minimum="3" />
                    </p:inputText>

                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{UnitBean.addUnit()}" ajax="true" />
                <p:button value="Powrót" outcome="UnitList"/>
            </p:panel>                   
        </h:form>
    </ui:define> 
</ui:composition>