<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="unitListForm">

            <p:commandButton value="Dodaj Jednostkę" action="#{UnitBean.addUnitNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajJednostke())}" />
            <p:commandButton value="Usuń Jednostkę" action="#{UnitBean.deleteUnit()}" rendered="#{RoleBean.IsInRole(RoleNames.getUsunJednostke())}" ajax = "false"/>   

            <br/><br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="unitDataTable" var="unit" sortMode="multiple" value="#{UnitBean.unitList}"
                         rowKey="#{unit.id}" rows = "10" paginator="true" filteredValue="#{UnitBean.filteredUnit}"
                         emptyMessage="Brak jednostek spełniających podane kryterium." widgetVar="unitTable"
                         selectionMode="single" selection="#{UnitBean.selectedUnit}"
                         >
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Jednostki" styleClass="size20px" /> 
                        </p:toolbarGroup>
                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="unitTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{unit.name}" headerText="Jednostka" filterBy="#{unit.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{unit.name}" styleClass="columnFontSize"/> 
                </p:column> 

                <p:ajax event="rowSelect" />

            </p:dataTable>
        </h:form>
    </ui:define> 
</ui:composition>