<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="TaxForm" styleClass="GroupPanel350px">
            <p:panel header="Nowy podatek" id="AddTaxPanel">
                <p:messages id="msgs" closable="true" autoUpdate="true"/>
                
                <h:panelGrid columns="2" id="addTaxGrid">  

                    <h:outputLabel value="Wartość : *" for="tax" styleClass="Label"></h:outputLabel>
                    <p:inputText id="tax" value="#{TaxBean.tax.tax}" styleClass="ItemMaxWidth" required="true" 
                                 requiredMessage="Wartość jest polem wymaganym" converterMessage="Wartość musi być liczbą naturalną"
                                 validator="TaxValidator">
                        <f:convertNumber integerOnly="true" />
                    </p:inputText>
                 
                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{TaxBean.addTax()}" ajax="true" />
                <p:button value="Powrót" outcome="TaxList"/>
            </p:panel>                   
        </h:form>
    </ui:define> 
</ui:composition>