<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="taxListForm">

            <p:commandButton value="Dodaj Podatek" action="#{TaxBean.addTaxNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajPodatek())}"/>
            <p:commandButton value="Usuń Podatek" action="#{TaxBean.deleteTax()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getUsunPodatek())}"/>   
            <br/><br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="taxDataTable" var="tax" sortMode="multiple" value="#{TaxBean.taxList}"
                         rowKey="#{tax.id}" rows = "10" paginator="true" filteredValue="#{TaxBean.filteredTax}"
                         emptyMessage="Brak podatków spełniających podane kryterium." widgetVar="taxTable"
                         selectionMode="single" selection="#{TaxBean.selectedTax}"
                         >
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Podatki" styleClass="size20px" /> 
                        </p:toolbarGroup>

                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="taxTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{tax.tax}" headerText="Podatek" filterBy="#{tax.tax}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{tax.tax}%" styleClass="columnFontSize"/> 
                </p:column> 

                <p:ajax event="rowSelect" />

            </p:dataTable>
        </h:form>
    </ui:define> 
</ui:composition>