<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>IGNORED</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form styleClass="size13px">
                <p:menubar autoDisplay="false">  
                        <p:menuitem value="Strona główna" outcome = "home" /> 
                        <p:submenu label="Dokumenty" >
                            <p:menuitem value="Przyjęcia magazynowe" action="#{PZDocumentBean.pzDocumentListNavigation()}" ajax= "false" /> 
                            <p:menuitem value="Wydania magazynowe" action ="#{WZDocumentBean.wzDocumentListNavigation()}" ajax = "false" />
                            <p:menuitem value="Przesunięcia międzymagazynowe" action="#{MMDocumentBean.mmDocumentListNavigation()}" ajax="false" />
                        </p:submenu>
                        <p:menuitem value="Magazyny" action="#{WarehouseBean.warehouseListNavigation()}" ajax="false"/> 
                        <p:menuitem value="Towary" action ="#{ProductBean.productListNavigation()}" ajax="false"/> 
                        <p:menuitem value="Kontrahenci" action="#{ContractorBean.contractorListNavigation()}" ajax="false"/> 
                        <p:menuitem value="Użytkownicy" action="#{UserBean.userListNavigation()}" ajax="false"/> 
                        <p:submenu label="Słowniki" >
                            <p:menuitem value="Podatki" action="#{TaxBean.taxListNavigation()}" ajax="false"/>
                            <p:menuitem value="Jednostki" action="#{UnitBean.unitListNavigation()}" ajax="false"/>
                        </p:submenu>
 
                    <f:facet name="options">                     
                        <p:commandButton value="Wyloguj" action="#{LoginBean.LogOut()}" icon="ui-icon-extlink" />  
                    </f:facet>  
                </p:menubar>  
            </h:form>
        </ui:composition>
    </h:body>
</html>
