#top {
    position: relative;
    background-color: #FFFFFF;
    color: black;
    padding: 10px;
}

#bottom {
    position: relative;
    background-color: #FFFFFF;
    padding: 1px;
    text-align: center;
    font: 12px cursive;
}

#menubar {
    position: relative;
    background-color: #FFFFFF;
    padding: 1px;
    margin-bottom: 10px;
}

#content {
    font-size: 13px;
    min-height: 430px;
}

#bottom a:link, a:visited {
  color: black !important; 
  font-weight : bold; 
  text-decoration: none;
}

.size13px {
   font-size: 13px;
   font-weight: normal;
}

.size20px {
   font-size: 20px;
   font-weight: lighter;
   font-style: italic; 
}

.columnFontSize
{
    font-size: 13px;
}

.GroupPanel
{
	text-align:center;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.GroupPanel350px
{
	text-align:center;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.GroupPanel300px
{
	text-align:center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
        min-width: 300px;
}

.StyleForInpuTextArea
{
  width: 100% !important;
  resize: none;
}

.MaxSize
{
    width: 100% !important;
}

.LoginButton
{
	margin-left: auto;
	margin-right: auto;
}

.LoginPanel 
{
	text-align:center;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
        font-size: 15px;
}

.Label {
    display: block;
    width: 90px;
    min-width: 90px;
}

.Label110px {
    display: block;
    width: 110px;
    min-width: 110px;
}

.ui-growl-title {
    font-size: 18px;
    text-align: center;
}
.ui-growl-message p {
    font-size: 16px;
}

.ItemMaxWidth{
    width: 100%;
    resize: none;
}