<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        
        <h:form id="ContractorForm" styleClass="GroupPanel350px">
            <p:panel header="Nowy kontrahent" id="AddContractorPanel">

                <p:messages id="msgs" closable="true" autoUpdate="true"/>

                <h:panelGrid columns="2" id="addContractorGrid">  
                    <h:outputLabel value="Nazwa : *" for="contractorName" styleClass="Label" ></h:outputLabel>
                    <p:inputText id="contractorName" value="#{ContractorBean.contractor.name}" styleClass="ItemMaxWidth" required="true" 
                                 requiredMessage="Nazwa jest polem wymaganym" validatorMessage="Nazwa musi zawierać co najmniej 3 znaki"
                                 >
                        <f:validateLength minimum="3"/>
                    </p:inputText>

                    <h:outputLabel value="Pełna nazwa : *" for="contractorFullName" ></h:outputLabel>
                    <p:inputTextarea id="contractorFullName" value="#{ContractorBean.contractor.fullName}" 
                                     rows="2" autoResize="fase" required="true"
                                     styleClass="ItemMaxWidth"
                                     requiredMessage="Pełna nazwa jest polem wymaganym" validatorMessage="Pełna nazwa musi zawierać co najmniej 3 znaki">
                        <f:validateLength minimum="3"/>
                    </p:inputTextarea>

                    <h:outputLabel value="Telefon :" for="contractorPhoneNumber" ></h:outputLabel>
                    <p:inputMask id="contractorPhoneNumber" value="#{ContractorBean.contractor.phoneNumber}"
                                 mask="(+99) 99-999-99-99" styleClass="ItemMaxWidth"/>

                    <h:outputLabel value="Fax :" for="contractorFax" ></h:outputLabel>
                    <p:inputMask id="contractorFax" value="#{ContractorBean.contractor.fax}" 
                                 mask="(+99) 99-999-99-99" styleClass="ItemMaxWidth"/>

                    <h:outputLabel value="Telefon kom. :" for="contractorMobilePhone" ></h:outputLabel>
                    <p:inputMask id="contractorMobilePhone" value="#{ContractorBean.contractor.mobilePhone}" 
                                 mask="(+99) 999-999-999" styleClass="ItemMaxWidth"/>

                    <h:outputLabel value="E-mail :" for="contractorMail" ></h:outputLabel>
                    <p:inputText id="contractorMail" value="#{ContractorBean.contractor.mail}"
                                 validatorMessage="Nieprawidłowy adres E-mail" styleClass="ItemMaxWidth"
                                 validator="EmailValidator" >
                    </p:inputText>      

                    <h:outputLabel value="Ulica :" for="contractorStreet" ></h:outputLabel>
                    <p:inputText id="contractorStreet" value="#{ContractorBean.contractor.street}" 
                                 validatorMessage="Ulica musi zawierać conajmniej 3 znaki" styleClass="ItemMaxWidth">
                        <f:validateLength minimum="3"/>
                    </p:inputText>

                    <h:outputLabel value="Miasto :" for="contractorCity" ></h:outputLabel>
                    <p:inputText id="contractorCity" value="#{ContractorBean.contractor.city}"
                                 validatorMessage="Miasto musi zawierać conajmniej 3 znaki" styleClass="ItemMaxWidth">
                        <f:validateLength minimum="3"/>
                    </p:inputText>

                    <h:outputLabel value="Kod pocztowy :" for="contractorPostCode" ></h:outputLabel>
                    <p:inputMask id="contractorPostCode" value="#{ContractorBean.contractor.postCode}" 
                                 mask="99-999" styleClass="ItemMaxWidth"/>

                    <h:outputLabel value="Województwo :" for="contractorProvince" ></h:outputLabel>
                    <p:inputText id="contractorProvince" value="#{ContractorBean.contractor.province}"
                                 validatorMessage="Województwo musi zawierać conajmniej 3 znaki" styleClass="ItemMaxWidth">
                        <f:validateLength minimum="3"/>
                    </p:inputText>

                    <h:outputLabel value="Kraj :" for="contractorCountry" ></h:outputLabel>
                    <p:inputText id="contractorCountry" value="#{ContractorBean.contractor.country}"
                                 validatorMessage="Kraj musi zawierać conajmniej 3 znaki" styleClass="ItemMaxWidth">
                        <f:validateLength minimum="3"/>
                    </p:inputText>

                    <h:outputLabel value="NIP : *" for="contractorNip" ></h:outputLabel>
                    <p:inputMask id="contractorNip" value="#{ContractorBean.contractor.nip}"
                                 validator="NipValidator" mask="999-99-99-999"
                                 required="true" requiredMessage="NIP jest polem wymaganym" styleClass="ItemMaxWidth"/>

                    <h:outputLabel value="REGON :" for="contractorRegon" ></h:outputLabel>
                    <p:inputText id="contractorRegon" value="#{ContractorBean.contractor.regon}" styleClass="ItemMaxWidth" 
                                 validatorMessage="Niepoprawny numer REGON" >
                        <f:validateLength minimum="9" maximum="14" />
                    </p:inputText>

                    <h:outputLabel value="Dostawca :" for="contractorSeller" ></h:outputLabel>
                    <p:selectBooleanButton id="contractorSeller" value="#{ContractorBean.contractor.seller}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" /> 

                    <h:outputLabel value="Odbiorca :" for="contractorBuyer" ></h:outputLabel>
                    <p:selectBooleanButton id="contractorBuyer" value="#{ContractorBean.contractor.buyer}" onLabel="Tak" offLabel="Nie" onIcon="ui-icon-check" offIcon="ui-icon-close" />  

                    <h:outputLabel value="Dodatkowe informacje :" for="contractorAdditionalInformation" ></h:outputLabel>
                    <p:inputTextarea id="contractorAdditionalInformation" value="#{ContractorBean.contractor.additionalInformation}" 
                                     rows="2" autoResize="false"
                                     styleClass="ItemMaxWidth"/>
                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{ContractorBean.addContractor()}" ajax="true" />
                <p:button value="Powrót" outcome="ContractorList"/>
            </p:panel>                   
        </h:form>
    </ui:define> 
</ui:composition>