<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="contractorListForm" >

            <p:commandButton value="Dodaj Kontrahenta" action="#{ContractorBean.addContractorNaviation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajKontrahenta())}"/>
            <p:commandButton value="Edytuj Kontrahenta" action="#{ContractorBean.editContractorNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getEdytujKontrahenta())}"/>
            <p:commandButton value="Usuń Kontrahenta" action="#{ContractorBean.deleteContractor()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getUsunKontrahenta())}"/>   

            <br/>
            <br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="contractorDataTable" var="contractor" sortMode="multiple" value="#{ContractorBean.contractorList}"
                         rowKey="#{contractor.id}" rows = "10" paginator="true" filteredValue="#{ContractorBean.filteredContractor}"
                         emptyMessage="Brak kontrahentów spełniających podane kryterium." widgetVar="contractorsTable"
                         selectionMode="single" selection="#{ContractorBean.selectedContractor}">
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Kontrahenci" styleClass="size20px" /> 
                        </p:toolbarGroup>
                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="contractorsTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{contractor.name}" headerText="Nazwa" filterBy="#{contractor.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{contractor.name}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column headerText="NIP" sortBy="#{contractor.nip}" filterBy="#{contractor.nip}" filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{contractor.nip}" styleClass="columnFontSize" />
                </p:column>  

                <p:column headerText="Miasto" sortBy="#{contractor.city}" filterBy="#{contractor.city}" filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{contractor.city}" styleClass="columnFontSize" /> 
                </p:column>

                <p:column headerText="Kraj" sortBy="#{contractor.country}" filterBy="#{contractor.country}" filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{contractor.country}" styleClass="columnFontSize" /> 
                </p:column>

                <p:ajax event="rowSelect"/>

            </p:dataTable>
        </h:form>
    </ui:define> 
</ui:composition>