<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form styleClass="GroupPanel350px">
            <p:panel header="Nowy magazyn">

                <p:messages id="msgs" closable="true" autoUpdate="true"/>
                <h:panelGrid columns="2" id="addWarehouseGrid">  

                    <h:outputLabel value="Nazwa : *" for="warehouseName" styleClass="Label110px" ></h:outputLabel>
                    <p:inputText id="warehouseName" value="#{WarehouseBean.warehouse.name}" 
                                 styleClass="MaxSize" required = "true" 
                                 validatorMessage="Nazwa musi zawierać co najmniej 3 znaki"
                                 requiredMessage="Nazwa jest polem wymaganym" >
                        <f:validateLength minimum="3" />  
                    </p:inputText>

                    <h:outputLabel value="Ulica :" for="warehouseStreet" ></h:outputLabel>
                    <p:inputText id="warehouseStreet" value="#{WarehouseBean.warehouse.street}" 
                                 styleClass="MaxSize" />

                    <h:outputLabel value="Miasto : *" for="warehouseCity" ></h:outputLabel>
                    <p:inputText id="warehouseCity" value="#{WarehouseBean.warehouse.city}"
                                 styleClass="MaxSize" required ="true" 
                                 validatorMessage="Miasto musi zawierać co najmniej 3 znaki"
                                 requiredMessage="Miasto jest polem wymaganym" >
                        <f:validateLength minimum="3"/>
                    </p:inputText> 

                    <h:outputLabel value="Kod pocztowy :" for="warehousePostCode" ></h:outputLabel>
                    <p:inputText id="warehousePostCode" value="#{WarehouseBean.warehouse.postCode}" 
                                 styleClass="MaxSize" />

                    <h:outputLabel value="Województwo :" for="warehouseProvince" ></h:outputLabel>
                    <p:inputText id="warehouseProvince" value="#{WarehouseBean.warehouse.province}"  
                                 styleClass="MaxSize"/>

                    <h:outputLabel value="Kraj : *" for="warehouseCountry" ></h:outputLabel>
                    <p:inputText id="warehouseCountry" value="#{WarehouseBean.warehouse.country}"  
                                 styleClass="MaxSize"
                                 required = "true"
                                 validatorMessage="Kraj musi zawierać co najmniej 3 znaki"
                                 requiredMessage="Kraj jest polem wymaganym" >
                        <f:validateLength minimum="3" />
                    </p:inputText>

                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{WarehouseBean.addWarehouse()}" ajax="true" />
                <p:button value="Powrót" outcome="WarehouseList"/>
            </p:panel>                   
        </h:form>
    </ui:define> 
</ui:composition>