<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="stockListForm">

            <p:commandButton value="Wróć do listy magazynów" action="WarehouseListRedirect" ajax="false"/>
            <br/><br/>
            
            <p:dataTable id="stockDataTable" var="stock" sortMode="multiple" value="#{StockBean.stockList}"
                         rowKey="#{stock.id}" rows = "10" paginator="true" filteredValue="#{StockBean.filteredStock}"
                         emptyMessage="Brak towarów spełniających podane kryterium." widgetVar="stockTable"
                         >
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Zapasy" styleClass="size20px" /> 
                        </p:toolbarGroup>

                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="stockTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{stock.product.symbol}" headerText="Symbol" filterBy="#{stock.product.symbol}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{stock.product.symbol}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{stock.product.name}" headerText="Nazwa" filterBy="#{stock.product.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{stock.product.name}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{stock.quantity}" headerText="Ilość" filterBy="#{stock.quantity}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{stock.quantity}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{stock.product.unit.name}" headerText="Jednostka" filterBy="#{stock.product.unit.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{stock.product.unit.name}" styleClass="columnFontSize"/> 
                </p:column> 

            </p:dataTable>  
        </h:form>

    </ui:define> 
</ui:composition>