<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="warehouseListForm">

            <p:commandButton value="Dodaj Magazyn" action="#{WarehouseBean.addWarehouseNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajMagazyn())}"/>
            <p:commandButton value="Edytuj Magazyn" action="#{WarehouseBean.editWarehouseNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getEdytujMagazyn())}"/>
            <p:commandButton value="Usuń Magazyn" action="#{WarehouseBean.deleteWarehouse()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getUsunMagazyn())}"/>  
            <p:commandButton value="Przeglądaj Magazyn" action="#{StockBean.viewStock()}"  ajax="false">
                <f:setPropertyActionListener target ="#{StockBean.warehouseId}" value ="#{WarehouseBean.selectedWarehouse.id}"/>         
            </p:commandButton>

            <br/><br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="warehouseDataTable" var="warehouse" sortMode="multiple" value="#{WarehouseBean.warehouseList}"
                         rowKey="#{warehouse.id}" rows = "10" paginator="true" filteredValue="#{WarehouseBean.filteredWarehouse}"
                         emptyMessage="Brak magazynów spełniających podane kryterium." widgetVar="warehouseTable"
                         selectionMode="single" selection="#{WarehouseBean.selectedWarehouse}">
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Magazyny" styleClass="size20px" /> 
                        </p:toolbarGroup>

                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="warehouseTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{warehouse.name}" headerText="Nazwa" filterBy="#{warehouse.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{warehouse.name}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{warehouse.city}" headerText="Miasto" filterBy="#{warehouse.city}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{warehouse.city}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{warehouse.country}" headerText="Kraj" filterBy="#{warehouse.country}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{warehouse.country}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:ajax event="rowSelect"/>

            </p:dataTable>

        </h:form>

    </ui:define> 
</ui:composition>