<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">

        <h:form styleClass="GroupPanel350px">
            <p:panel header="Uprawnienia">
                <h:panelGrid id="editRolesGrid" >  

                    <h:dataTable var="role" value="#{RoleBean.listOfPermissions}">
                        <h:column>
                            <h:outputText id="name" style="display: block;  width: 200px;" value="#{role.name}" />
                        </h:column>
                        <h:column>
                            <p:selectBooleanCheckbox value="#{role.isSelected}" />
                        </h:column>
                    </h:dataTable>

                </h:panelGrid>
                <br/> 
                <p:commandButton value="Zapisz" action="#{RoleBean.AddRoles()}" ajax="true" />
                <p:button value="Powrót" outcome="UserList"/>
            </p:panel>                   
        </h:form>
    </ui:define> 
</ui:composition>