<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./../resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>System Magazynowy</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">
                <ui:include src="./../sections/top.xhtml"/>
            </ui:insert>
        </div>

         <div id="menubar" >
            <ui:insert name="menubar">
                <ui:include src="./../sections/menubar.xhtml"/>
            </ui:insert>
            
        </div>
        
        <div id="content" >
            <ui:insert name="content">
                
            </ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <ui:include src="./../sections/bottom.xhtml"/>
            </ui:insert>
        </div>

    </h:body>

</html>
