<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form>
            <p:commandButton value="Dodaj Towar" onclick="PF('addProductDialog').show()"/>
        </h:form>

        <h:form id ="mainForm">
            <p:panel header="Nowy dokument przyjęcia towaru (PZ)">

                <p:messages id="msgs" closable="true" autoUpdate="true"/>

                <h:panelGrid columns="2" id="addPZDocumentGrid">  

                    <h:outputLabel value="Data zakupu: *" for="buyDate" styleClass="Label110px" ></h:outputLabel>
                    <p:calendar id="buyDate" value="#{PZDocumentBean.pzDocument.buyDate}" pattern="yyyy-MM-dd" size="38"
                                required="true" requiredMessage="Data zakupu jest polem wymaganym" >
                    </p:calendar>

                    <h:outputLabel value="Kontrahent : *" for="contractor" ></h:outputLabel>
                    <p:selectOneMenu id="contractor" value="#{PZDocumentBean.pzDocument.contractor}" 
                                     effect="fold" styleClass="MaxSize" converter="ContractorConverter" required="true" requiredMessage="Kontrahent jest polem wymaganym">   
                        <f:selectItems value="#{ContractorBean.contractorSellerFromDB}" var="contractor" itemLabel="#{contractor.name}" itemValue="#{contractor}" />  
                    </p:selectOneMenu> 

                    <h:outputLabel value="Magazyn : *" for="warehouse" ></h:outputLabel>
                    <p:selectOneMenu id="warehouse" value="#{PZDocumentBean.pzDocument.warehouse}" 
                                     effect="fold" styleClass="MaxSize" converter="WarehouseConverter" required="true" requiredMessage="Magazyn jest polem wymaganym">   
                        <f:selectItems value="#{WarehouseBean.warehouseList}" var="warehouse" itemLabel="#{warehouse.name}" itemValue="#{warehouse}" />  
                    </p:selectOneMenu> 
                </h:panelGrid>
            </p:panel>  

            <br/>

            <p:dataTable id="PZDocumentDataTable" var="position" value="#{DocumentPositionBean.documentPositions}" rowKey="#{position.id}"
                         liveScroll="true" sortMode="multiple"  widgetVar="PZDocumentDataTable" emptyMessage="Brak towarów" 
                         editable="true" editMode="cell" scrollRows="20" resizableColumns="true" > 
                <p:column headerText="Symbol" style="width: 200px;">
                    <h:outputText value="#{position.product.symbol}" />
                </p:column>
                <p:column headerText="Nazwa">
                    <h:outputText value="#{position.product.name}" />
                </p:column>
                <p:column headerText="Jdn." style="width: 30px;">
                    <h:outputText value="#{position.product.unit.name}" />
                </p:column>
                <p:column headerText="Cena" style="width: 70px;">
                    <p:cellEditor>  
                        <f:facet name="output"><h:outputText value="#{position.price}" /></f:facet>  
                        <f:facet name="input"><p:inputText value="#{position.price}" style="width:96%"
                           converterMessage="Cena musi być liczbą zmiennoprzecinkową"/></f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="VAT" style="width: 30px;">
                    <h:outputText value="#{position.product.tax.tax}%" />
                </p:column>
                <p:column headerText="Ilość" style="width: 70px;">
                    <p:cellEditor>  
                        <f:facet name="output"><h:outputText value="#{position.count}" /></f:facet>  
                        <f:facet name="input"><p:inputText value="#{position.count}"
                          converterMessage="Ilość musi być liczbą większą od zera" style="width:96%"/></f:facet>
                    </p:cellEditor>
                </p:column>
            </p:dataTable>
            <br/>
            <p:menubar id="menuDown">
                <p:menuitem value="Zapisz"  action="#{PZDocumentBean.addPZDocument()}" >
                    <f:setPropertyActionListener target ="#{PZDocumentBean.pzDocument.documentPositions}" value ="#{DocumentPositionBean.documentPositions}" />   
                </p:menuitem>
                <p:menuitem value="Zrezygnuj" outcome="PZDocumentList"/>
            </p:menubar>
        </h:form>

        <p:dialog widgetVar="addProductDialog" resizable="false" closable = "false" width="700" height="400" >  
            <h:form>
                <p:commandButton value = "Dodaj" update=":mainForm:PZDocumentDataTable" onsuccess="addProductDialog.hide()" actionListener="#{DocumentPositionBean.ReinitDocumentPosition()}">
                    <f:setPropertyActionListener target ="#{DocumentPositionBean.documentPosition.product}" value ="#{ProductBean.selectedProduct}" />    
                    <f:setPropertyActionListener target ="#{DocumentPositionBean.documentPosition.tax}" value ="#{ProductBean.selectedProduct.tax.tax}" />  
                    <p:collector unique="true" value="#{DocumentPositionBean.documentPosition}" addTo="#{DocumentPositionBean.documentPositions}" />
                </p:commandButton>              

                <p:commandButton value = "Zakończ" onclick="addProductDialog.hide();" icon="ui-icon-closethick" type="reset" />
            </h:form>
            <h:form id="productListForm">
                <p:dataTable id="productDataTable" var="product" sortMode="multiple" value="#{ProductBean.productList}"
                             rowKey="#{product.id}" rows = "10" paginator="true" filteredValue="#{ProductBean.filteredProduct}"
                             emptyMessage="Brak towarów spełniających podane kryterium." widgetVar="productTable"
                             selectionMode="single" selection="#{ProductBean.selectedProduct}">
                    <f:facet name = "header">
                        <p:toolbar style="border:none">
                            <p:toolbarGroup align="center">                                
                                <h:outputText value="Towary" styleClass="size20px" /> 
                            </p:toolbarGroup>
                            <p:toolbarGroup align ="right">
                                <p:outputPanel>  
                                    <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                    <p:inputText id="globalFilter" onkeyup="productTable.filter()" style="width:150px;"/>  
                                </p:outputPanel>  
                            </p:toolbarGroup>
                        </p:toolbar> 
                    </f:facet>
                    <p:column sortBy="#{product.symbol}" headerText="Symbol" filterBy="#{product.symbol}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{product.symbol}" styleClass="columnFontSize"/> 
                    </p:column> 
                    <p:column sortBy="#{product.name}" headerText="Nazwa" filterBy="#{product.name}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{product.name}" styleClass="columnFontSize"/> 
                    </p:column>  
                    <p:column sortBy="#{product.price}" headerText="Cena [zł]" filterBy="#{product.price}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{product.price}" styleClass="columnFontSize"/> 
                    </p:column>  
                    <p:column sortBy="#{product.tax}" headerText="Podatek" filterBy="#{product.tax}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{product.tax.tax}%" styleClass="columnFontSize"/> 
                    </p:column>  
                    <p:column sortBy="#{product.unit.name}" headerText="Jednostka" filterBy="#{product.unit.name}"  filterStyle="display:none; visibility:hidden;">
                        <h:outputText value="#{product.unit.name}" styleClass="columnFontSize"/> 
                    </p:column>  

                    <p:ajax event="rowSelect"/>
                </p:dataTable>
            </h:form>
        </p:dialog>
    </ui:define> 
</ui:composition>