<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="pzDocumentListForm">

            <p:commandButton value="Dodaj przyjęcie magazynowe" action="#{PZDocumentBean.addPZDocumentNavigation}" actionListener="#{DocumentPositionBean.ReinitDocumentPositions()}" rendered="#{RoleBean.IsInRole(RoleNames.getDodajDokumentPZ())}" ajax="false"/>
            <p:commandButton value="Przeglądaj przyjęcie magazynowe" action="#{PZDocumentBean.viewPZDocumentNavigation}" rendered = "#{RoleBean.IsInRole(RoleNames.getPrzegladajDokumentPZ())}" ajax="false"/>

            <br/>
            <br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="pzDocumentDataTable" var="pzDocument" sortMode="multiple" value="#{PZDocumentBean.pzDocumentList}"
                         rowKey="#{pzDocument.id}" rows = "25" paginator="true" filteredValue="#{PZDocumentBean.filteredPZDocument}"
                         emptyMessage="Brak rekordów spełniających podane kryterium." widgetVar="pzDocumentTable"
                         selectionMode="single" selection="#{PZDocumentBean.selectedPZDocument}">
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Przyjęcia magazynowe" styleClass="size20px" /> 
                        </p:toolbarGroup>

                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="pzDocumentTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{pzDocument.documentNumber}" headerText="Numer" filterBy="#{pzDocument.documentNumber}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{pzDocument.documentNumber}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{pzDocument.contractor.name}" headerText="Kontrahent" filterBy="#{pzDocument.contractor.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{pzDocument.contractor.name}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{pzDocument.user.lastName}" headerText="Wystawił" filterBy="#{pzDocument.user.lastName}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{pzDocument.user.firstName} #{pzDocument.user.lastName}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{pzDocument.dateOfDocument.toLocaleString()}" headerText="Data" filterBy="#{pzDocument.dateOfDocument.toLocaleString()}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{pzDocument.dateOfDocument.toLocaleString()}" styleClass="columnFontSize" />
                </p:column>

                <p:column sortBy="#{pzDocument.buyDate.toLocaleString()}" headerText="Data zakupu" filterBy="#{pzDocument.buyDate.toLocaleString()}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{pzDocument.buyDate}" styleClass="columnFontSize">
                        <f:convertDateTime type="date"  locale="pl_PL" timeZone = "EU" />
                    </h:outputText>
                </p:column>

                <p:column sortBy="#{pzDocument.warehouse.name}" headerText="Magazyn" filterBy="#{pzDocument.warehouse.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{pzDocument.warehouse.name}" styleClass="columnFontSize"/> 
                </p:column>

                <p:ajax event="rowSelect"/>

            </p:dataTable>

        </h:form>

    </ui:define> 
</ui:composition>