<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" >

    
    <ui:define name="content">
        
         <h:form>
             <p:button value="Zmień hasło" outcome="ChangePassword" />
             <p:commandButton value="Edytuj swoje dane" action="#{UserBean.editOwnData()}"  ajax="false" />
        </h:form>
        
        <center>
        <p style="font-size: 30px;color:blue">
            Witaj #{LoginBean.currentUser.firstName} #{LoginBean.currentUser.lastName}!
        </p>
            
        </center>
    </ui:define>
</ui:composition>