<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form styleClass="GroupPanel">
            <p:panel header="Edytowany towar">
                
                <p:messages id="msgs" closable="true" autoUpdate="true"/>
                
                  <h:panelGrid columns="2" id="editProductGrid">  
                    <h:outputLabel value="Symbol : *" for="productSymbol" styleClass="Label" ></h:outputLabel>
                    <p:inputText id="productSymbol" value="#{ProductBean.selectedProduct.symbol}" size="38" required = "true" 
                                 validatorMessage="Symbol musi zawierać co najmniej 3 znaki"
                                 requiredMessage="Symbol jest polem wymaganym" 
                                 styleClass="MaxSize">
                        <f:validateLength minimum="3" />  
                    </p:inputText>

                    <h:outputLabel value="Nazwa : *" for="productName" ></h:outputLabel>
                    <p:inputText id="productName" value="#{ProductBean.selectedProduct.name}" size="38" required = "true" 
                                 validatorMessage="Nazwa musi zawierać co najmniej 3 znaki"
                                 requiredMessage="Nazwa jest polem wymaganym"
                                 styleClass="MaxSize">
                        <f:validateLength minimum="3" />  
                    </p:inputText>

                    <h:outputLabel value="Cena :" for="productPrice" ></h:outputLabel>
                    <p:inputText id="productPrice" value="#{ProductBean.selectedProduct.price}" 
                                 converter="javax.faces.Double" size="38" 
                                 converterMessage="Niepoprawny format ceny"
                                 styleClass="MaxSize" validator ="PriceValidator" />

                   <h:outputLabel value="Podatek :" for="productTax" ></h:outputLabel>
                   <p:selectOneMenu id="productTax" value="#{ProductBean.selectedProduct.tax}" 
                                    effect="fold" styleClass="MaxSize" converter="TaxConverter">   
                        <f:selectItems value="#{TaxBean.taxList}" var="tax" itemLabel="#{tax.tax}%" itemValue="#{tax}" />  
                    </p:selectOneMenu>  

                    <h:outputLabel value="Jednostka :" for="productUnit" ></h:outputLabel>
                    <p:selectOneMenu id="productUnit" value="#{ProductBean.selectedProduct.unit}" 
                                     effect="fold" styleClass="MaxSize" converter="UnitConverter">   
                        <f:selectItems value="#{UnitBean.unitList}" var="unit" itemLabel="#{unit.name}" itemValue="#{unit}" />  
                    </p:selectOneMenu>  

                    <h:outputLabel value="Opis :" for="productDescription" ></h:outputLabel>
                    <p:inputTextarea id="productDescription"  rows="3" cols="40" 
                                     value="#{ProductBean.selectedProduct.description}" autoResize="false" 
                                     styleClass="StyleForInpuTextArea" />

                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{ProductBean.editProduct()}" ajax="true" />
                <p:button value="Powrót" outcome="ProductList"/>
            </p:panel>                   
        </h:form>
    </ui:define> 
</ui:composition>