<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="productListForm">

            <p:commandButton value="Dodaj Towar" action="#{ProductBean.addProductNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajTowar())}"/>
            <p:commandButton value="Edytuj Towar" action="#{ProductBean.editProductNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getEdytujTowar())}"/>
            <p:commandButton value="Usuń Towar" action="#{ProductBean.deleteProduct()}" rendered="#{RoleBean.IsInRole(RoleNames.getUsunTowar())}" ajax="false"/>   

            <br/><br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="productDataTable" var="product" sortMode="multiple" value="#{ProductBean.productList}"
                         rowKey="#{product.id}" rows = "10" paginator="true" filteredValue="#{ProductBean.filteredProduct}"
                         emptyMessage="Brak towarów spełniających podane kryterium." widgetVar="productTable"
                         selectionMode="single" selection="#{ProductBean.selectedProduct}">
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Towary" styleClass="size20px" /> 
                        </p:toolbarGroup>
                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="productTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>
                <p:column sortBy="#{product.symbol}" headerText="Symbol" filterBy="#{product.symbol}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{product.symbol}" styleClass="columnFontSize"/> 
                </p:column> 
                <p:column sortBy="#{product.name}" headerText="Nazwa" filterBy="#{product.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{product.name}" styleClass="columnFontSize"/> 
                </p:column>  
                <p:column sortBy="#{product.price}" headerText="Cena [zł]" filterBy="#{product.price}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{product.price}" styleClass="columnFontSize"/> 
                </p:column>  
                <p:column sortBy="#{product.tax.tax}" headerText="Podatek" filterBy="#{product.tax.tax}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{product.tax.tax}%" styleClass="columnFontSize"/> 
                </p:column>  
                <p:column sortBy="#{product.unit.name}" headerText="Jednostka" filterBy="#{product.unit.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{product.unit.name}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:ajax event="rowSelect"/>
            </p:dataTable>
        </h:form>
    </ui:define> 
</ui:composition>