<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id ="UserForm" styleClass="GroupPanel350px">
            <p:panel header="Nowy użytkownik" id="AddUserPanel">

                <p:messages id="msgs" closable="true" autoUpdate="true" />
                <h:panelGrid columns="2" id="addUserGrid">  

                    <h:outputLabel value="Login : *" for="userLogin" styleClass="Label"  ></h:outputLabel>
                    <p:inputText id="userLogin" value="#{UserBean.user.login}" styleClass="ItemMaxWidth" required = "true" 
                                 validatorMessage="Login musi zawierać co najmniej 3 znaki"
                                 requiredMessage="Login jest polem wymaganym" >
                        <f:validateLength minimum="3" />  
                    </p:inputText>


                    <h:outputLabel value="Hasło : *" for="userPassword" ></h:outputLabel>
                    <p:password id="userPassword" value="#{UserBean.user.password}" styleClass="ItemMaxWidth" required = "true"
                                requiredMessage="Hasło jest polem wymaganym"
                                validatorMessage="Hasło musi zawierać co najmniej 5 znaków" 
                                redisplay = "false">
                        <f:validateLength minimum="5" />
                    </p:password>

                    <h:outputLabel value="Powtórz hasło: *" for="userConfirmPassword" ></h:outputLabel>
                    <p:password id="userConfirmPassword" styleClass="ItemMaxWidth" required = "true"
                                validatorMessage="Powtórzone hasło musi zawierać conajmniej 5 znaków"
                                requiredMessage="Powtórzone hasło jest polem wymaganym">
                        <f:validator validatorId="PasswordValidator" />
                        <f:attribute name="passwordId" value="UserForm:userPassword"  />
                    </p:password>

                    <h:outputLabel value="Imię :" for="userFirstName" ></h:outputLabel>
                    <p:inputText id="userFirstName" value="#{UserBean.user.firstName}" styleClass="ItemMaxWidth" />

                    <h:outputLabel value="Nazwisko :" for="userLastName" ></h:outputLabel>
                    <p:inputText id="userLastName" value="#{UserBean.user.lastName}" styleClass="ItemMaxWidth" />

                    <h:outputLabel value="E-mail :" for="userMail" ></h:outputLabel>
                    <p:inputText id="userMail" value="#{UserBean.user.mail}" styleClass="ItemMaxWidth"
                                 validatorMessage="Nieprawidłowy adres E-mail">
                        <f:validateRegex pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*([,;]\s*\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*" />
                    </p:inputText>             

                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{UserBean.addUser()}" ajax="true" />
                <p:button value="Powrót" outcome="UserList"/>

            </p:panel>                   
        </h:form>

    </ui:define> 
</ui:composition>