<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id ="UserForm" styleClass="GroupPanel">
            <p:panel header="Zmiana hasła" id="AddUserPanel">

                <p:messages id="msgs"/>
                <h:messages id="exceptions"/>

                <h:panelGrid columns="2" id="addUserGrid">  

                        Hasło zostało zmienione!
                   
                </h:panelGrid>

                <br/> 
                <p:button value="OK" outcome="home" />

            </p:panel>                   
        </h:form>

    </ui:define> 
</ui:composition>