<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id ="UserForm" styleClass="GroupPanel350px">
            <p:panel header="Zmiana hasła" id="AddUserPanel">

                <p:messages id="msgs" closable="true" autoUpdate="true"/>

                <h:panelGrid columns="2" id="addUserGrid">  

                    <h:outputLabel value="Login : *" for="userLogin" styleClass="Label110px" ></h:outputLabel>
                    <p:inputText id="userLogin" value="#{LoginBean.currentUser.login}" styleClass="ItemMaxWidth"
                                 required = "true" readonly="true" />

                    <h:outputLabel value="Hasło : *" for="userPassword" ></h:outputLabel>
                    <p:password id="userPassword" value="#{LoginBean.tmpUser.password}" 
                                styleClass="ItemMaxWidth" required = "true"
                                requiredMessage="Hasło jest polem wymaganym"
                                validatorMessage="Hasło musi zawierać co najmniej 5 znaków" 
                                redisplay = "false">
                        <f:validateLength minimum="5" />
                    </p:password>

                    <h:outputLabel value="Powtórz hasło: *" for="userConfirmPassword" ></h:outputLabel>
                    <p:password id="userConfirmPassword" styleClass="ItemMaxWidth" required = "true"
                                validatorMessage="Powtórzone hasło musi zawierać conajmniej 5 znaków"
                                requiredMessage="Powtórzone hasło jest polem wymaganym">
                        <f:validator validatorId="PasswordValidator" />
                        <f:attribute name="passwordId" value="UserForm:userPassword"  />
                    </p:password>
                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{UserBean.changePassword()}" ajax="false" />
                <p:button value="Powrót" outcome="home"/>

            </p:panel>                   
        </h:form>

    </ui:define> 
</ui:composition>