<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form styleClass="GroupPanel350px">
            <p:panel header="Edytowany użytkownik">

                <p:messages id="msgs" closable="true" autoUpdate="true"/>
                <h:panelGrid columns="2" id="editUserGrid">  

                    <h:outputLabel value="Login : *" for="userLogin" styleClass="Label" ></h:outputLabel>
                    <p:inputText id="userLogin" value="#{UserBean.selectedUser.login}" styleClass="ItemMaxWidth" readonly="true" >
                        <f:validateLength minimum="3" />  
                    </p:inputText>

                    <h:outputLabel value="Imię :" for="userFirstName" ></h:outputLabel>
                    <p:inputText id="userFirstName" value="#{UserBean.selectedUser.firstName}" styleClass="ItemMaxWidth" />

                    <h:outputLabel value="Nazwisko :" for="userLastName" ></h:outputLabel>
                    <p:inputText id="userLastName" value="#{UserBean.selectedUser.lastName}" styleClass="ItemMaxWidth" />

                    <h:outputLabel value="E-mail :" for="userMail" ></h:outputLabel>
                    <p:inputText id="userMail" value="#{UserBean.selectedUser.mail}" styleClass="ItemMaxWidth"
                                 validatorMessage="Nieprawidłowy adres E-mail">
                        <f:validateRegex pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*([,;]\s*\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*" />
                    </p:inputText>             

                </h:panelGrid>

                <br/> 
                <p:commandButton value="Zapisz" action="#{UserBean.editUser()}" ajax="true" />
                <p:button value="Powrót" outcome="UserList"/>

            </p:panel>                   
        </h:form>

    </ui:define> 
</ui:composition>