<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id="userListForm">

            <p:commandButton value="Dodaj Użytkownika" action="#{UserBean.addUserNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajUzytkownika())}" />
            <p:commandButton value="Edytuj Użytkownika" action="#{UserBean.editUserNavigation()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getEdytujUzytkownika())}" />
            <p:commandButton value="Usuń Użytkownika" action="#{UserBean.deleteUser()}" rendered="#{RoleBean.IsInRole(RoleNames.getUsunUzytkownika())}" ajax="false" />   
            <p:commandButton value="Uprawnienia" action="#{RoleBean.EditRoles()}" rendered="#{RoleBean.IsInRole(RoleNames.getUprawnienia())}" ajax="false" />  

            <br/><br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="userDataTable" var="user" sortMode="multiple" value="#{UserBean.userList}"
                         rowKey="#{user.id}" rows = "10" paginator="true" filteredValue="#{UserBean.filteredUser}"
                         emptyMessage="Brak użytkowników spełniających podane kryterium." widgetVar="userTable"
                         selectionMode="single" selection="#{UserBean.selectedUser}"
                         >
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Użytkownicy" styleClass="size20px" /> 
                        </p:toolbarGroup>

                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="userTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{user.login}" headerText="Login" filterBy="#{user.login}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{user.login}" styleClass="columnFontSize"/> 
                </p:column> 

                <p:column sortBy="#{user.firstName}" headerText="Imie" filterBy="#{user.firstName}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{user.firstName}" styleClass="columnFontSize"/> 
                </p:column> 

                <p:column sortBy="#{user.lastName}" headerText="Nazwisko" filterBy="#{user.lastName}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{user.lastName}" styleClass="columnFontSize"/> 
                </p:column> 

                <p:ajax event="rowSelect" />

            </p:dataTable>

            <p:confirmDialog id="confirmDialog" message="Na pewno usunąć użytkownika"  
                             header="Usuwanie..." severity="alert"  widgetVar="confirmation" >  
                <p:commandButton id="confirm" value="Tak" oncomplete="confirmation.hide()"  update="userListForm"
                                 action="#{UserBean.deleteUser()}" />  
                <p:commandButton id="decline" value="Nie" onclick="confirmation.hide()" type="button" />
            </p:confirmDialog>
        </h:form>
    </ui:define> 
</ui:composition>