<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form id="mmDocumentListForm">

            <p:commandButton value="Dodaj przesunięcie międzymagazynowe" action="#{MMDocumentBean.addMMDocumentNavigation}" actionListener="#{DocumentPositionBean.ReinitDocumentPositions()}" ajax="false" rendered="#{RoleBean.IsInRole(RoleNames.getDodajDokumentMM())}" />
            <p:commandButton value="Przeglądaj przesunięcie międzymagazynowe" action="#{MMDocumentBean.viewMMDocumentNavigation}" rendered = "#{RoleBean.IsInRole(RoleNames.getPrzegladajDokumentMM())}" ajax="false"/>

            <br/>
            <br/>

            <p:growl id="growl" showDetail="true" sticky="true"  />  

            <p:dataTable id="mmDocumentDataTable" var="mmDocument" sortMode="multiple" value="#{MMDocumentBean.mmDocumentList}"
                         rowKey="#{mmDocument.id}" rows = "10" paginator="true" filteredValue="#{MMDocumentBean.filteredMMDocument}"
                         emptyMessage="Brak rekordów spełniających podane kryterium." widgetVar="mmDocumentTable"
                         selectionMode="single" selection="#{MMDocumentBean.selectedMMDocument}">
                <f:facet name = "header">
                    <p:toolbar style="border:none">
                        <p:toolbarGroup align="center">                                
                            <h:outputText value="Przesunięcia  międzymagazynowe" styleClass="size20px" /> 
                        </p:toolbarGroup>

                        <p:toolbarGroup align ="right">
                            <p:outputPanel>  
                                <h:outputText value="Szukaj:  " styleClass="size13px"/>  
                                <p:inputText id="globalFilter" onkeyup="mmDocumentTable.filter()" style="width:150px;"/>  
                            </p:outputPanel>  
                        </p:toolbarGroup>
                    </p:toolbar> 
                </f:facet>

                <p:column sortBy="#{mmDocument.documentNumber}" headerText="Numer" filterBy="#{mmDocument.documentNumber}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{mmDocument.documentNumber}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{mmDocument.user.lastName}" headerText="Wystawił" filterBy="#{mmDocument.user.lastName}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{mmDocument.user.firstName} #{mmDocument.user.lastName}" styleClass="columnFontSize"/> 
                </p:column>  

                <p:column sortBy="#{mmDocument.dateOfDocument.toLocaleString()}" headerText="Data" filterBy="#{mmDocument.dateOfDocument.toLocaleString()}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{mmDocument.dateOfDocument.toLocaleString()}" styleClass="columnFontSize">
                    </h:outputText> 
                </p:column>

                <p:column sortBy="#{mmDocument.warehouse.name}" headerText="Z Magazynu" filterBy="#{mmDocument.warehouse.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{mmDocument.warehouse.name}" styleClass="columnFontSize"/> 
                </p:column>

                <p:column sortBy="#{mmDocument.toWarehouse.name}" headerText="Do Magazynu" filterBy="#{mmDocument.toWarehouse.name}"  filterStyle="display:none; visibility:hidden;">
                    <h:outputText value="#{mmDocument.toWarehouse.name}" styleClass="columnFontSize"/> 
                </p:column>

                <p:ajax event="rowSelect"/>

            </p:dataTable>
        </h:form>
    </ui:define> 
</ui:composition>