<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/masterLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <h:form id ="mainForm">

            <p:commandButton value="Wróć do listy dokumentów MM" action="MMDocumentList"/>
            <br/><br/>

            <p:panel header="Dokument przemieszczenia międzymagazynowego (MM)">

                <h:panelGrid columns="2" id="addMMDocumentGrid">  

                    <h:outputLabel value="Numer :" for="documentNumber" ></h:outputLabel>
                    <p:inputText id="documentNumber" value="#{MMDocumentBean.selectedMMDocument.documentNumber}" size="34" readonly="true">
                    </p:inputText>

                    <h:outputLabel value="Data dokumentu:" for="dateOfDocument" styleClass="Label110px" ></h:outputLabel>
                    <p:calendar id="dateOfDocument" value="#{MMDocumentBean.selectedMMDocument.dateOfDocument}" pattern="yyyy-MM-dd" size="34"  readonly="true">
                    </p:calendar>

                    <h:outputLabel value="Magazyn :" for="warehouse" ></h:outputLabel>
                    <p:inputText id="warehouse" value="#{MMDocumentBean.selectedMMDocument.warehouse.name}" size="34" readonly="true">
                    </p:inputText>

                    <h:outputLabel value="Magazyn docelowy:" for="warehouseTo" ></h:outputLabel>
                    <p:inputText id="warehouseTo" value="#{MMDocumentBean.selectedMMDocument.toWarehouse.name}" size="34" readonly="true">
                    </p:inputText>

                </h:panelGrid>
            </p:panel>  

            <br/>

            <p:dataTable id="MMDocumentDataTable" var="position" value="#{MMDocumentBean.selectedMMDocument.documentPositions}" rowKey="#{position.id}"
                         liveScroll="true" sortMode="multiple"  widgetVar="MMDocumentDataTable" emptyMessage="Brak towarów" 
                         editable="true" editMode="cell" scrollRows="20" resizableColumns="true" > 
                <p:column headerText="Symbol" style="width: 200px;">
                    <h:outputText value="#{position.product.symbol}" />
                </p:column>
                <p:column headerText="Nazwa">
                    <h:outputText value="#{position.product.name}" />
                </p:column>
                <p:column headerText="Jdn." style="width: 30px;">
                    <h:outputText value="#{position.product.unit.name}" />
                </p:column>
                <p:column headerText="Ilość" style="width: 70px;">
                    <h:outputText value="#{position.count}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define> 
</ui:composition>