<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>System Magazynowy</title>
        <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
    </h:head>

    <h:body>
        <h:form id="LoginForm" styleClass="LoginPanel" >
            <p:panel header="Logowanie">  

                <p:messages id="msgs" closable="true" autoUpdate="true"/>

                <h:panelGrid columns="2" border="0">                     
                    <h:outputLabel for="login" value="Login: *" styleClass="Label" />  
                    <p:inputText id="login" value="#{LoginBean.tmpUser.login}" required="true" 
                                 validatorMessage="Login musi zawierać co najmniej 3 znaki"
                                 requiredMessage="Login jest polem wymaganym" >
                        <f:validateLength minimum = "3" />
                    </p:inputText>

                    <h:outputLabel for="password" value="Hasło: *" />  
                    <p:password id="password" value="#{LoginBean.tmpUser.password}" required="true"
                                requiredMessage="Hasło jest polem wymaganym" />  
                </h:panelGrid>  
                <p:commandButton id="loginButton" value ="Login" action="#{LoginBean.LogIn()}"/>  
            </p:panel>  
        </h:form>
    </h:body>
</html>

